
<div class="page-title">

    <div class="title-env">
        <h1 class="title">骑行记录</h1>
        <p class="description"></p>
    </div>

    <div class="breadcrumb-env">

        <ol class="breadcrumb bc-1">
            <li>
                <a href="#/"><i class="fa-home"></i>首页</a>
            </li>
            <li class="active">

                <a href="#/userBike.html">骑行记录</a>
            </li>
        </ol>

    </div>

</div>

<!--
<div class="timeline-centered"  infinite-scroll='bike.nextPage()' infinite-scroll-disabled='bike.busy' infinite-scroll-distance='0'>

    <article class="timeline-entry" ng-repeat='bike in bike.items' ng-class-odd="'left-aligned'">

        <div class="timeline-entry-inner"   >
            <time class="timeline-time" datetime="2014-10-03T03:45"><span>{{ bike.startTime | date:'shortTime' }}</span> <span>{{bike.longTime}}</span></time>

            <div class="timeline-icon timeline-bg-info">
                <i class="fa-location-arrow"></i>
            </div>

            <div class="timeline-label">
                <h2><a href="#">{{bike.user.nickName}}</a> <span>时间</span> <a href="#">{{ bike.startTime | date:'yyyy-MM-dd hh:mm' }}</a></h2>

                <blockquote></blockquote>

                <div  class="map-checkin" style="height: 170px; width: 100%;"></div>
            </div>
        </div>

    </article>






    <article class="timeline-entry begin">

        <div class="timeline-entry-inner">

            <div class="timeline-icon">
                <i class="fa-briefcase"></i>
            </div>

        </div>

    </article>



</div>
-->


<ul class="cbp_tmtimeline" infinite-scroll='bike.nextPage()' infinite-scroll-disabled='bike.busy' infinite-scroll-distance='0'>

    <li ng-repeat='bike in bike.items'>

        <time class="cbp_tmtime" datetime="bike.startTime"><span>{{ bike.startTime | date:'shortTime' }}</span> <span>{{bike.longTime}}</span></time>

        <div class="cbp_tmicon timeline-bg-info">
            <i class="fa-bicycle"></i>
        </div>

        <div class="cbp_tmlabel">
            <h2><a href="/user">{{bike.user.nickName}}</a> <span> time:</span>{{ bike.startTime | date:'yyyy-MM-dd hh:mm' }}</h2>

            <blockquote class="row">

                <div class="col-sm-4">骑行：{{bike.totalDistance}} 公里</div>
                <div class="col-sm-4">时长：{{bike.totalTimerHHmmSS}}</div>
                <div class="col-sm-4">平均速度：{{bike.avgSpeed}} km/h</div>


            </blockquote>



            <div class="row">
                <div class="col-sm-12">
                    <a href="#/activities/{{bike.id}}/overview.html">
                        <img ng-src="{{layoutCssPath}}{{bike.imgUrl}}"  class="img-responsive img-rounded full-width" />
                    </a>
                </div>

            </div>

        </div>
    </li>


    <li ng-hide='reddit.busy'>
        <time class="cbp_tmtime" datetime="2014-10-03T18:30"><span class="hidden">完成</span> <span class="large">over&emsp;</span></time>

        <div class="cbp_tmicon timeline-bg-gray">
            <i class="fa fa-angellist"></i>
        </div>

        <div class="cbp_tmlabel empty">
            <span>已全部加载完!</span>
        </div>
    </li>

    <li ng-show='reddit.busy'>


        <div class="cbp_tmicon timeline-bg-success">
            <i class="fa fa-spin fa-spinner"></i>
        </div>

        <div class="cbp_tmlabel empty">
            <span>正在努力加载数据,请稍等.........</span>
        </div>
    </li>


</ul>